// color vars

$primary-color: #0084F5;
$secondary-color: #2EC4A5;
$tertiary-color: #2f7bbd;
$medium-gray-color: #eeeeee;
$light-gray-color: #FBFCFD;

$divider-color:#E2ECF1;

$gray-color:#dddddd;
$green-color: #85C342;
$black-color:#1f2229;
$yellow-color:#ffd266;

$success-color:$green-color;
$warning-color:#f0ad4e;


$text-color: #323B43;
$light-text-color: #989FA5;
$body-text-color: #657989;
$dark-text-color: $text-color;


$link-color: $secondary-color;
$link-hover-color:shade($secondary-color,50%);
$top-nav-link-color:tint($text-color,30%);

$background-color: #F7FBFC;

// units

$baseline: 28px;
$base-border-radius:3px;


// font vars

$light-font-name:'open_sanslight', Helvetica, Arial, sans-serif;
$regular-font-name:'open_sansregular', Helvetica, Arial, sans-serif;
$medium-font-name:'open_sanssemibold', Helvetica, Arial, sans-serif;
$bold-font-name:'open_sansbold', Helvetica, Arial, sans-serif;
$extra-bold-font-name:'open_sansextrabold', Helvetica, Arial, sans-serif;
$flourish-font-name-bold: 'brandon_grotesquebold';
$flourish-font-name-italic: 'brandon_grotesqueRgIt';
$social-font-name: 'socialicoregular';

//transitions

$base-transition-duration:.2s;

//text columns

$text-column-gutter-width: $baseline;