%nav.navbar.navbar-default.navbar-fixed-top.global-nav
	.container.relative
		.visible-xs.main-nav-back
			%a{:href=>"/contact"}
				%i.material-icons
					arrow_back

		.navbar-header
			.logo-and-breadcrumbs
				.header-promo
					%form.navbar-form
						%a.btn.btn-primary{:href=>"/demo"}
							Learn more about Table Mesa
				.header-root
					%a.navbar-brand{:href=>"/"}
						%img{:src=>"images/logo@2x.png", :width=>"148px"}
					.nav.nav-breadcrumb.hidden-xs
						%i.material-icons
							chevron_right
						%a{:href=>"#"}
							Technology
			.visible-xs
				.pull-right
					.mobile-menu#collapse-menu
						.mobile-menu-body.quarter-padding-bottom
							%ul.mobile-menu-links
								%li
									%a{:href=>"/contact"}
										%i.material-icons
											home
										Home
								%li
									%a{:href=>"/contact"}
										%i.material-icons
											search
										Search
								%li
									%a{:href=>"/contact"}
										%i.material-icons
											mail_outline
										Subscribe
						.mobile-menu-body.quarter-padding-top.quarter-padding-bottom
							%h5
								Topics
							%ul.list-unstyled.topics-list
								%li
									%a{:href=>"#"}
										Technology
								%li
									%a{:href=>"#"}
										News
								%li
									%a{:href=>"#"}
										Continued CE
								%li
									%a{:href=>"#"}
										General
								%li
									%a{:href=>"#"}
										Other
						.mobile-menu-footer
							%a.btn.btn-primary.btn-block{:href=>"#"}
								Learn more about Table Mesa
					%button.tcon.tcon-menu--xcross.menu-button{"aria-label" => "toggle menu", :type => "button"}
						%span.tcon-menu__lines{"aria-hidden" => "true"}
						%span.tcon-visuallyhidden 
							toggle menu
		.hidden-xs
			.desktop-nav
				.navbar-right
					%ul.nav.navbar-nav
						%li.dropdown
							%a.dropdown-toggle{:href=>"/solution"}
								Topics
							%ul.dropdown-menu
								%li
									%a{:href=>"/solution"}
										Technology
								%li
									%a{:href=>"/solution/monitoring"}
										News
								%li
									%a{:href=>"/solution/collaborate"}
										continued CE
								%li
									%a{:href=>"/solution/integrate"}
										General
								%li
									%a{:href=>"/solution/manage"}
										Other
						%li
							%a{:href=>"/pricing"}
								Subscribe
						%li
							%a{:href=>"/contact"}
								%i.material-icons
									search

		/ #collapse-menu.collapse.navbar-collapse.mobile-nav.navbar-right
		/ 	%ul.nav.navbar-nav
		/ 		%li
		/ 			%a{:href => "/solution"}
		/ 				Solution
		/ 		%li
		/ 			%a{:href => "/pricing"} 
		/ 				Pricing
		/ 		%li
		/ 			%a{:href => "/contact"} 
		/ 				Contact
		/ 		%li.dropdown
		/ 			%a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
		/ 				•••
		/ 			%ul.dropdown-menu
		/ 				%li
		/ 					%a{:href => "/company"} 
		/ 						Company
		/ 				%li
		/ 					%a{:href => "/security"} 
		/ 						Security
		/ 				%li
		/ 					%a{:href => "/blog"} 
		/ 						Blog
		/ 				%li
		/ 					%a{:href=>"/pricing#faqs"}
		/ 						FAQs
		/ 				%li
		/ 					%a{:href => "/jobs"} 
		/ 						Jobs
		/ 		%li
		/ 			%a.bold-link{:href => "/demo"} 
		/ 				Schedule a Demo
		/ 		%li
		/ 			%a.bold-link{:href => "#"} 
		/ 				Sign In

