.topics-bar.centered-menu
	%ul
		%li.active
			%a{:href=>"/topic"}
				Technology
		%li
			%a{:href=>"/topic"}
				News
		%li
			%a{:href=>"/topic"}
				Continued CE
		%li
			%a{:href=>"/topic"}
				General
		%li
			%a{:href=>"/topic"}
				Other