%a.post-thumbnail{:href=>"single"}
	.post-thumbnail-body
		%h3
			= lorem.words 7
		%p.has-image
			= lorem.sentences 5
		.img-clip
			%img{:src=>"#{lorem.image('900x400', :random_color => true)}" }
	.post-thumbnail-footer
		%h5.pull-left
			Jan 1 2016
		%h5.text-right.pull-right
			Technology