%a.post-thumbnail{:href=>"single"}
	.post-thumbnail-body
		%h3
			= lorem.words 7
		%p
			= lorem.sentences 5
	.post-thumbnail-footer
		%h5.pull-left
			Jan 1 2016
		%h5.text-right.pull-right
			Continued CE